/* General Body Styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body styling */
body{
    background-color: #ffffff;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    display: flex;
}

/* main styling */
main{
    display: flex;
    flex-direction: column;
    margin: 29px 10px;
    padding: 20px 10px;
    background-color: #eeeeee;
}

/* image size */
#img-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#image{
    width: fit-content;
    margin: 0 ;
    max-width: none;
    height: auto;
}

/* image subtitle */
#image-subtitle{
    margin: 15px;
}

#title{
    margin: 20px 10px;
    color: #323232;
    font-size: 2.5rem;
}
 
#subtitle{
    color: #323232;
    display: flex;
    align-items: center;
    font-size: medium;
    letter-spacing: 0.3px;
    margin-bottom: 16px;
}


#img-div{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#image{
    width: 83%;
}

#title-container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

/* tiribute information words styling */
.tribute-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 45%;
    margin: 10px 0;
    padding-left: 20px;
    font-size: 16px;
    font-weight: light; 
}

#tribute-info ul li {
    margin: 8px 0; 
    flex-wrap: wrap;
}

blockquote{
    width: 45%;
    margin-top: 30px;
}
cite{
    display: block;
    margin-top: 1rem;
}

.link{
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
}

a{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    color: #776793;
}